{erl_opts, [debug_info]}.
{require_otp_vsn, "R15"}.
{deps, [
  {jiffy, "", {git, "https://github.com/davisp/jiffy.git", "master"}},
  {parse_trans, "2.5.2", {git, "git://github.com/esl/parse_trans.git", {tag, "2.5.2"}}}
]}.
{clean_files, ["ebin/*.beam"]}.

{xref_warnings, false}.
{xref_checks, [undefined_function_calls]}.
